# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# temp files #
*.log.lck
*.old
*.pending

# db files #
*.sqlite
*.db

# Root Files #
/banned-ips.json
/banned-players.json
/ops.json
/usercache.json
/whitelist.json

# World Folders #
/world/
/world_nether/
/world_the_end/
/worldbb/
/worldforest/
/worldocean/
/worldore/
/worldruin/
/worldruin_nether/
/worldruin_the_end/
/worldtest/
/worldti/
/worldti_nether/
/worldti_the_end/
/worldtt/
/worldhub/

# Other Folder #
/crash-reports/
/logs/
/temp/
/timings/

# Plugin Folder #
/plugins/*

!/plugins/Multiverse-Core/
!/plugins/Multiverse-NetherPortals/
!/plugins/Multiverse-Portals/
!/plugins/Multiverse-SignPortals/

!/plugins/dynmap/worlds.txt
!/plugins/Dynmap-WorldGuard/

!/plugins/TerrainControl/TerrainControl.ini
!/plugins/TerrainControl/GlobalBiomes/
!/plugins/TerrainControl/GlobalObjects/

!/plugins/OpenTerrainGenerator/OTG.ini
!/plugins/OpenTerrainGenerator/GlobalBiomes/
!/plugins/OpenTerrainGenerator/GlobalObjects/

!/plugins/WorldBorder/
!/plugins/WorldEdit/
!/plugins/WorldGuard/

!/plugins/Vault/
!/plugins/Votifier/
!/plugins/SimpleVoteListener/

!/plugins/SimpleHomes/config.yml
!/plugins/SimpleHomes/languages.yml

!/plugins/ProtocolLib/config.yml

!/plugins/PermissionsExTabColors/config.yml

!/plugins/MinePacks/config.yml

!/plugins/mcMMOAction/
!/plugins/mcMMO/advanced.yml
!/plugins/mcMMO/child.yml
!/plugins/mcMMO/config.yml
!/plugins/mcMMO/experience.yml
!/plugins/mcMMO/itemweights.yml
!/plugins/mcMMO/potions.yml
!/plugins/mcMMO/repair.vanilla.yml
!/plugins/mcMMO/salvage.vanilla.yml
!/plugins/mcMMO/treasures.yml
!/plugins/mcMMO/upgrades.yml

!/plugins/LockedItems/config.yml
!/plugins/LockedItems/language.yml

!/plugins/Jobs/TranslatableWords
!/plugins/Jobs/locale
!/plugins/Jobs/Signs.yml
!/plugins/Jobs/jobConfig.yml
!/plugins/Jobs/restrictedAreas.yml
!/plugins/Jobs/restrictedBlocks.yml
!/plugins/Jobs/schedule.yml
!/plugins/Jobs/shopItems.yml
!/plugins/Jobs/titleConfig.yml

!/plugins/iConomy/Template.yml

!/plugins/HolographicDisplays/

!/plugins/BetterChairs/
!/plugins/BetterBeds/

!/plugins/Backpacks/config.yml

!/plugins/ChestCommands/
