# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# temp files #
*.log.lck
*.old
*.pending

# db files #
*.sqlite
*.db

# Root Files #
/banned-ips.json
/banned-players.json
/ops.json
/usercache.json
/whitelist.json

# World Folders #
/world/
/world_nether/
/world_the_end/
/worldbb/
/worldforest/
/worldocean/
/worldore/
/worldruin/
/worldruin_nether/
/worldruin_the_end/
/worldtest/
/worldti/
/worldtt/

# Other Folder #
/crash-reports/
/logs/
/temp/
/timings/

# Plugin Folder #
/plugins/*

!/plugins/Multiverse-Core/
!/plugins/Multiverse-NetherPortals/
!/plugins/Multiverse-Portals/
!/plugins/Multiverse-SignPortals/

!/plugins/dynmap/worlds.txt

!/plugins/TerrainControl/TerrainControl.ini
!/plugins/TerrainControl/GlobalBiomes/
!/plugins/TerrainControl/GlobalObjects/

!/plugins/WorldBorder/
!/plugins/WorldEdit/
!/plugins/WorldGuard/
